.container {
    .video-slider-row {
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 2px solid #d6dbe2;
        .video-info-left {
            padding-left: 0px;
            @media only screen and (max-width: 767px) {
                padding-left: 15px;
            }
            .video-left{
                height: 220px;
                background: #d6dbe2;
                @media only screen and (max-height: 767px) {
                    height: 214px;
                }
            }
        }
        
        .video-info-right {
            padding-left: 9px;
            padding-right: 5px;
            @media only screen and (max-width: 767px) {
                padding-left: 15px;
                margin-top: 24px;
            }
            .video-content {
                h1 {
                    letter-spacing: normal;
                    line-height: 1.33;
                    font-size: 18px;
                    color: #000000;
                    font-weight: 700;
                    margin: 0;
                    margin-bottom: 17px;
                }
                p {
                    font-size: 14px;
                    margin: 0;
                    color: #000000;
                    line-height: 1.43;
                }
            }
        }
    }
}